<div id="home-groupBuyingWrap">
<!--导航-->
	<div id="home-groupBuyingWrapNav">
		<a href="javascript:void(0)" ng-click=allGroupBuyGoods('choiceTody.json',backImg) ng-class="{true: 'backgroundImg', false: 'nobackgroundImg'}[backImg]">精选</a>
		<div id="home-groupBuyingWrapNavList">
			<div id="home-groupBuyingWrapNavList-wrap">
				<a href="javascript:void(0)" name="todayBuyWrap" ng-click=allGroupBuyGoods('girlsCloths.json')><span>女装</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('girlsBoots.json')><span>女鞋</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('bags.json')><span>包包</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('beautyMakeup.json')><span>美妆</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('boyFriends.json')><span>男友</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('underWear.json')><span>内衣</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('life.json')><span>生活</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('sport.json')><span>运动</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('decorations.json')><span>配饰</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('motheranson.json')><span>母婴</span></a>
				<a href="javascript:void(0)" ng-click=allGroupBuyGoods('foods.json')><span>食品</span></a>
			</div>			
		</div>
	</div>
	<div id="GroupBuyingmain">
		<!--轮播-->
		<div id="groupBuyingBanner">
			<img src="{{bannerImg}}"/>
		</div>
		<!--u质团-->
		<div id="Ugroup">
			<li ng-repeat=" (i,item) in ugroup" ><a ng-click=toThreePage(i) ui-sref='.UZGroup' href=""><img src="{{item.image}}"/></a><p ng-style="{color:'{{item.titleColor}}'}">{{item.title}}</p><span>{{item.description}}</span></li>
		
			<!--品牌团-->
		<div id="brandTuanWrap">
			<div id="brandTuan">
				<li id="tuanW">
					<div>品牌团</div>
					<p>甄选尖货大牌满减</p>
					<span>查看更多</span>
				</li>
				<div id="brandTuanRight">
					<li ng-repeat="item in brand"><img src="{{item.logo}}"/><p>{{item.name}}</p></li>
					<li class="brandList" ng-repeat="item1 in brandlist"><img src="{{item1.logo}}"/><p>{{item1.name}}</p></li>
				</div>
				
			</div>
		</div>
		</div>
		
		<!--大家都在买-->
		<div id="allBuyTitle"><h4>大家都在买·</h4><span>特价尖货限时抢购</span></div>
		<div id="allBuyWrap">
			<div id="allBuyList">				
				<a href="javascript:void(0)" ng-repeat="item in allbuy">
					<img src="{{item.image}}"/>
					<p>{{item.title}}</p>
					<p><span>¥{{item.discountPrice}}</span><span>{{'¥'+item.price}}</span></p>
					<p>已抢:{{item.discount}}</p>
				</a>
			</div>
		</div>
		
		<!--今日精选-->
		<div id="todayBuy"><h4>今日精选·</h4><span>特价尖货限时抢购</span></div>
		<div id="todayBuyWrap">
			<div id="todayBuyList">	
				<img src="{{goos0.img}}"/><img src="{{goos1.img}}"/>
				<a href="javascript:void(0)" ng-repeat="(i,item) in allGoods" ng-if="i>1" >
					<img src="{{item.img}}"/>
					<p>{{item.title}} </p>
					<p>良品</p>
					<p>¥{{item.originalPrice}}</p>
					<p>¥{{item.price}}</p>
					<p>省¥{{(item.originalPrice-item.price)|number:0}}</p>
				</a>
			</div>
		</div>
		
	</div>
		<div ng-class="{true: 'active1', false: 'inactive1'}[isActive1]" id="toThreePage"  ui-view>
    	</div>
</div>