#home-groupBuyingWrap{width: 100%;height: 100%;overflow: hidden;}
#home-groupBuyingWrapNav{width: 100%;height: 2.92rem;overflow-x: auto;background: ##ff5777;}
#home-groupBuyingWrapNav>a{height: 100%;float: left;width: 4.64rem;line-height: 4.64rem;text-align: center;}
#home-groupBuyingWrapNavList{height: 100%;float: left;width:25.7rem;overflow: hidden;}
#home-groupBuyingWrapNavList-wrap{height: 100%;overflow-x: auto;}
#home-groupBuyingWrapNavList-wrap>a{height: 100%;width: 4.64rem;float: left;}
#home-groupBuyingWrapNavList-wrap>a>span{width: 100%;height: 100%;line-height: 4.64rem;text-align: center;}






























