<div id="home-groupBuyingWrap">
<!--导航-->
	<div id="home-groupBuyingWrapNav">
		<a ng-init="iscol=0" href="javascript:void(0)" ng-click="allGroupBuyGoods('choiceTody.json',backImg);iscol=0" ng-class="{'homemoue_bt':iscol==0}">精选</a>
		<div id="home-groupBuyingWrapNavList">
			<div id="home-groupBuyingWrapNavList-wrap">
				<a ng-class="{'homemoue_bt':iscol==1}" href="javascript:void(0)" name="todayBuyWrap" ng-click="allGroupBuyGoods('girlsCloths.json');iscol=1"><span>女装</span></a>
				<a ng-class="{'homemoue_bt':iscol==2}" href='javascript:void(0)' ng-click="allGroupBuyGoods('girlsBoots.json');iscol=2"><span>女鞋</span></a>
				<a ng-class="{'homemoue_bt':iscol==3}" href="javascript:void(0)" ng-click="allGroupBuyGoods('bags.json');iscol=3"><span>包包</span></a>
				<a ng-class="{'homemoue_bt':iscol==4}" href="javascript:void(0)" ng-click="allGroupBuyGoods('beautyMakeup.json');iscol=4"><span>美妆</span></a>
				<a ng-class="{'homemoue_bt':iscol==5}" href="javascript:void(0)" ng-click="allGroupBuyGoods('boyFriends.json');iscol=5"><span>男友</span></a>
				<a ng-class="{'homemoue_bt':iscol==6}" href="javascript:void(0)" ng-click="allGroupBuyGoods('underWear.json');iscol=6"><span>内衣</span></a>
				<a ng-class="{'homemoue_bt':iscol==7}" href="javascript:void(0)" ng-click="allGroupBuyGoods('life.json');iscol=7"><span>生活</span></a>
				<a ng-class="{'homemoue_bt':iscol==8}" href="javascript:void(0)" ng-click="allGroupBuyGoods('sport.json');iscol=8"><span>运动</span></a>
				<a ng-class="{'homemoue_bt':iscol==9}" href="javascript:void(0)" ng-click="allGroupBuyGoods('decorations.json');iscol=9"><span>配饰</span></a>
				<a ng-class="{'homemoue_bt':iscol==10}" href="javascript:void(0)" ng-click="allGroupBuyGoods('motheranson.json');iscol=10"><span>母婴</span></a>
				<a ng-class="{'homemoue_bt':iscol==11}" href="javascript:void(0)" ng-click="allGroupBuyGoods('foods.json');iscol=11"><span>食品</span></a>
			</div>			
		</div>
	</div>
	<div id="GroupBuyingmain">
		<!--轮播-->
		<div id="groupBuyingBanner">
			<img src="{{bannerImg}}"/>
		</div>
		<!--u质团-->
		<div id="Ugroup">
			<li ng-repeat=" (i,item) in ugroup" ><a ng-click=toThreePage(i) ui-sref='.UZGroup' href=""><img src="{{item.image}}"/></a><p ng-style="{color:'{{item.titleColor}}'}">{{item.title}}</p><span>{{item.description}}</span></li>
		
			<!--品牌团-->
		<div id="brandTuanWrap">
			<div id="brandTuan">
				<li id="tuanW">
					<div>品牌团</div>
					<p>甄选尖货大牌满减</p>
					<span>查看更多</span>
				</li>
				<div id="brandTuanRight">
					<li ng-repeat="item in brand"><img src="{{item.logo}}"/><p>{{item.name}}</p></li>
					<li class="brandList" ng-repeat="item1 in brandlist"><img src="{{item1.logo}}"/><p>{{item1.name}}</p></li>
				</div>
				
			</div>
		</div>
		</div>
		
		<!--大家都在买-->
		<div id="allBuyTitle"><h4>大家都在买·</h4><span>特价尖货限时抢购</span></div>
		<div id="allBuyWrap">
			<div id="allBuyList">				
				<a href="javascript:void(0)" ng-repeat="item in allbuy">
					<img src="{{item.image}}"/>
					<p>{{item.title}}</p>
					<p><span>¥{{item.discountPrice}}</span><span>{{'¥'+item.price}}</span></p>
					<p>已抢:{{item.discount}}</p>
				</a>
			</div>
		</div>
		
		<!--今日精选-->
		<div id="todayBuy"><h4>今日精选·</h4><span>特价尖货限时抢购</span></div>
		<div id="todayBuyWrap">
			<div id="todayBuyList">	
				<img lazy-src="{{goos0.img}}"/><img lazy-src="{{goos1.img}}"/>
				<a href="javascript:void(0)" ng-repeat="(i,item) in allGoods" ng-if="i>1" >
					<img lazy-src = "{{item.img}}"/>
					<p>{{item.title}} </p>
					<p>良品</p>
					<p>¥{{item.originalPrice}}</p>
					<p>¥{{item.price}}</p>
					<p>省¥{{(item.originalPrice-item.price)|number:0}}</p>
				</a>
			</div>
		</div>
		
	</div>
		<div ng-class="{true: 'active1', false: 'inactive1'}[isActive1]" id="toThreePage"  ui-view>
    	</div>
</div>



























	<!--<div class="homemenu" ng-init="iscol=0">
    <span  ng-click="iscol=0" ng-class="{'homemoue_bt':iscol==0}">流行</span>
    <span ng-click="iscol=1" ng-cla-->