#header{
    height: 10%;
    width: 100%;
    /*background: #ffd600;*/
   background: lightpink;
    position: fixed;
    top: 0;
    z-index: 2;
}
#box{
    height: 100%;
    width: 100%;
    margin-top: 10%;
}
/*获取首页轮播图*/
.swiper-slide{
    width: 100%;
    height: 100%;

}
.swiper-slide img{
    width: 100%;
}

/*团购，每日上新，新人专享*/
#threeTitle{
	margin: 0.5rem 0;
	border: 1px solid gray;
}
#threeTitle.content1{
    width: 100%;
    /*height: 100%;*/
}

.content1>li{
    float: left;
    width: 33.3%;
    /*height: 100%;*/
   
}
.content1>li>a{
	padding: 0 10%;
	
}
.content1>li>a>p{
    text-align: center;
}
.content1>li>a>div{
	width: 100%;
	height: 4rem;
	text-align: center;
	/*background: red;*/
	display: flex;
	justify-content: center;
}
.content1>li>a>div>img{
	width: 50%;
	
}

/*秒杀*/
#sec{
	margin: 0.5rem 0;
	border: 1px solid gray;
}
.home-sec-top{
	padding: 0.5rem;
}
.home-sec-top p{
	float: left;
	width: 8rem;
	height: 1.5rem;
}
.home-sec-top span{
	display: inline-block;
	float: left;
	width: 3rem;
	height: 1.5rem;
}
.home-sec-top a{
	float: right;
	display: inline-block;
}
.home-sec-bottom{
	height: 10rem;
	/*width: 100%;*/
	overflow-x: auto;
	overflow-y:hidden;
	/*background: red;*/
	white-space: nowrap;
}
.home-sec-bottom ul{
	height: 100%;
	width: 100%;
		
}
.home-sec-bottom ul>li{
	height: 100%;
	width: 25%;
	/*border: 1px solid red;*/
	display: inline-block;
	/*float: left;*/

	margin-right: 0.2rem;
}
.home-sec-bottom ul>li>a{
	
}
.home-sec-bottom ul>li>a>div{
	width: 100%;
	height: 4rem;
	text-align: center;
	/*background: red;*/
	display: flex;
	justify-content: center;
	white-space: nowrap;
}
.home-sec-bottom ul>li>a>p:last-child{
	color: red;
}
.home-sec-bottom ul>li>a>div>img{
	width: 50%;
}
.home-sec-bottom ul>li>a>p{
	white-space: normal;
}

/*超实惠-促销直达*/
#shihui{
	margin: 0.5rem 0;
	border: 1px solid gray;
}
.home-shihui-top{
	padding: 0.5rem;
	height: 3rem;
}
.home-shihui-bottom{
	/*height: 10rem;*/
	width: 100%;
}
.home-shihui-bottom>ul{
	height: 100%;
	width: 100%;
}
.home-shihui-bottom>ul>li{
	border: 1px solid gray;
	float: left;
}
.home-shihui-bottom>ul>li:nth-child(3n+1){
	width: 40%;
	height: 14rem;
	/*background: green;*/
	position: relative;
}
.home-shihui-bottom>ul>li:nth-child(3n+2){
	width: 60%;
	height: 7rem;
	/*background: red;*/
	position: relative;
}
.home-shihui-bottom>ul>li:nth-child(3n){
	width: 60%;
	height: 7rem;
	/*background: blue;*/
	position: relative;
}
.home-shihui-bottom>ul>li:nth-child(3n+1)>div:first-child{
	position: absolute;
	width: 100%;
    text-align: center;
    top: .54rem;
    left: 0;
    /*z-index: 8;*/
}
.home-shihui-bottom>ul>li:nth-child(3n+1)>div:first-child>p:last-child{
	color: red;
}
.home-shihui-bottom>ul>li:nth-child(3n+1)>div:last-child{
	position: absolute;
    bottom: 0;
    left: 30%;
    width: 8rem;
    height: 8rem;
    margin-left: -1.1rem;
    /*z-index: 7;*/
    overflow: hidden;
}
.home-shihui-bottom>ul>li:nth-child(3n+1)>div:last-child>img{
	width: 50%;
}

.home-shihui-bottom>ul>li:nth-child(3n+2)>div:first-child{
	position: absolute;
	width: 50%;
    text-align: left;
    top: .54rem;
    left: 0;
    /*z-index: 8;*/
    /*float: left;*/
}
.home-shihui-bottom>ul>li:nth-child(3n+2)>div:first-child>p:last-child{
	color: red;
}
.home-shihui-bottom>ul>li:nth-child(3n+2)>div:last-child{
	position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    margin-left: -1.1rem;
    /*z-index: 7;*/
    overflow: hidden;
    display: flex;
	justify-content: center;
	padding: 5%;
	/*float: left;*/
}
.home-shihui-bottom>ul>li:nth-child(3n+2)>div:last-child>img{
	width: 100%;
	height: 100%;
}
/*修改跳转盒子*/
#toGroupBuying{
	position: fixed;
	top:0 ;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.active{display: none;}
.inactive{display: block;}
/*学登修改的代码*/
.active{display: none;}
.inactive{display: block;}
/*学登修改的代码*/


/*超实惠-促销直达*/
#shihui{
	margin: 0.5rem 0;
	border: 1px solid gray;
}
.home-shihui-top{
	padding: 0.5rem;
	height: 3rem;
}
.home-shihui-bottom{
	/*height: 10rem;*/
	width: 100%;
}
.home-shihui-bottom>ul{
	height: 100%;
	width: 100%;
}
.home-shihui-bottom>ul>li{
	border: 1px solid gray;
	float: left;
}
.home-shihui-bottom>ul>li:nth-child(3n+1){
	width: 40%;
	height: 14rem;
	/*background: green;*/
	position: relative;
}
.home-shihui-bottom>ul>li:nth-child(3n+2){
	width: 60%;
	height: 7rem;
	/*background: red;*/
	position: relative;
}
.home-shihui-bottom>ul>li:nth-child(3n){
	width: 60%;
	height: 7rem;
	/*background: blue;*/
	position: relative;
}
.home-shihui-bottom>ul>li:nth-child(3n+1)>div:first-child{
	position: absolute;
	width: 100%;
    text-align: center;
    top: .54rem;
    left: 0;
    /*z-index: 8;*/
}
.home-shihui-bottom>ul>li:nth-child(3n+1)>div:first-child>p:last-child{
	color: red;
}
.home-shihui-bottom>ul>li:nth-child(3n+1)>div:last-child{
	position: absolute;
    bottom: 0;
    left: 30%;
    width: 8rem;
    height: 8rem;
    margin-left: -1.1rem;
    /*z-index: 7;*/
    overflow: hidden;
}
.home-shihui-bottom>ul>li:nth-child(3n+1)>div:last-child>img{
	width: 50%;
}

.home-shihui-bottom>ul>li:nth-child(3n+2)>div:first-child{
	position: absolute;
	width: 50%;
    text-align: left;
    top: .54rem;
    left: 0;
    /*z-index: 8;*/
    /*float: left;*/
}
.home-shihui-bottom>ul>li:nth-child(3n+2)>div:first-child>p:last-child{
	color: red;
}
.home-shihui-bottom>ul>li:nth-child(3n+2)>div:last-child{
	position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    margin-left: -1.1rem;
    /*z-index: 7;*/
    overflow: hidden;
    display: flex;
	justify-content: center;
	padding: 5%;
	/*float: left;*/
}
.home-shihui-bottom>ul>li:nth-child(3n+2)>div:last-child>img{
	width: 100%;
	height: 100%;
}
.home-shihui-bottom>ul>li:nth-child(3n)>div:first-child{
	position: absolute;
	width: 50%;
    text-align: left;
    top: .54rem;
    left: 0;
    /*z-index: 8;*/
}
.home-shihui-bottom>ul>li:nth-child(3n)>div:first-child>p:last-child{
	color: red;
}
.home-shihui-bottom>ul>li:nth-child(3n)>div:last-child{
	position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    margin-left: -1.1rem;
    /*z-index: 7;*/
    overflow: hidden;
    display: flex;
	justify-content: center;
	padding: 5%;
}
.home-shihui-bottom>ul>li:nth-child(3n)>div:last-child>img{
	width: 100%;
	height: 100%;
	
}


/*热门精选专题*/
#jinxuan{
	margin: 0.5rem 0;
	border: 1px solid gray;
}
.home-jinxuan-top{
	padding: 0.5rem;
	height: 3rem;
}
.home-jinxuan-bottom{
	width: 100%;
}
.home-jinxuan-bottom>ul{
	
}
.home-jinxuan-bottom>ul>li{
	height: 21.42rem;
	width: 100%;
}
.home-jinxuan-bottom>ul>li>a{
	display: block;
	width: 100%;
}
.home-jinxuan-bottom>ul>li>a>header{
	background: #fff;
    width: 94.7%;
    position: relative;
    margin: 0 2.65%;
    padding-bottom: 40.33%;
    height: 0;
    overflow: hidden;
    border-radius: 0.05rem;
}
.home-jinxuan-bottom>ul>li>a>header>img{
	width: 100%;
    height: auto;
}
.home-jinxuan-bottom>ul>li>footer{
	height: 9.88rem;
	padding-left: 0.2rem;
    background: #fff;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 0.4rem;
}
.home-jinxuan-bottom>ul>li>footer>ul{
	white-space: nowrap;
	height: 100%;
}
.home-jinxuan-bottom>ul>li>footer>ul>li{
	width: 5.94rem;
	height: 100%;
    display: inline-block;
    margin: 0 0.1rem 0 0;
}
.home-jinxuan-bottom>ul>li>footer>ul>li>a{
	display: block;
}
.home-jinxuan-bottom>ul>li>footer>ul>li>a>div{
	width: 100%;
    height: 5.94rem;
    margin-top: 0.2rem;
    border-radius: 0.05rem;
    overflow: hidden;
}
.home-jinxuan-bottom>ul>li>footer>ul>li>a>div>img{
	width: 100%;
	height: auto
}

/*猜你喜欢*/
#footer{
	margin: 0.5rem 0;
	border: 1px solid gray;
}
.footer-top{
	padding: 0.5rem;
	height: 3rem;
}
.footer-bottom{
	width: 100%;
	background: #F9F9F9;
}
.footer-bottom-list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.footer-bottom-list>a{
	width: 47%;
	height:27rem;
	margin: 7.5px 0 0 7.5px;
	display: block;
	position: relative;
	background: white;
}
.footer-bottom-list>a>img{
	width: 100%;
}

.footer-bottom-list>a>p:nth-of-type(1){
	font-size: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.footer-bottom-list>a>p:nth-of-type(2){
	font-size: 1rem;
	border-radius: 3px;
	background: #F9E4A8;
	width: 2.5rem;
	text-align: center;
}
.footer-bottom-list>a>p:nth-of-type(3){
	font-size: 1rem;
	color:#999;
	height:2rem;
	line-height: 2rem;
}
.footer-bottom-list>a>p:nth-of-type(4){
	font-size: 1.3rem;
	color:#FF4877;
}
.footer-bottom-list>a>p:nth-of-type(5){
	font-size:.8rem;
	width:4.5rem;
	height:1.4rem;
	position: absolute;
	right: 1rem;
	bottom: 1.5rem;
	color:#FF4877;
	background: url(../../img/todayBuy-icon.png);
	background-size: 100% 100%;
	text-indent: 1.3rem;
	color: white;
}

