	<div id="UZGroupWrap">
		<div id="UZHeader">
			<img src="components/home/groupBuying/UZGroup/img/UZheadImg.png"/>
		</div>
		<div id="UZFul">
		<!--2.24-->
			<p ng-click=packUp() class="today2">2.24上新**</p>
			<ul class="todayugoods" ng-show = 'isShow'>			
				<li ng-repeat="item in todayGoods" >
					<a ui-sref=".lastGoods" href="" ng-click=showLastGoods(item)><img src="{{item.itemImage}}"/></a>
					<p>{{item.title}}</p>
					<p><span>¥：{{item.discountPrice}}</span><span>领卷减10</span></p>
					<p><img src="{{item.gradeChecker}}"/><span>{{item.description}}</span></p>
				</li>
			</ul>
		<!--2.23-->
			<p ng-click=packUp2() class="today2">2.23上新**</p>
			<ul class="todayugoods" ng-show = 'iszuotianShow'>			
				<li ng-repeat="item in zuotianGoods" >
					<a ui-sref=".lastGoods" href="" ng-click=showLastGoods(item)><img src="{{item.itemImage}}"/></a>
					<p>{{item.title}}</p>
					<p><span>¥：{{item.discountPrice}}</span><span>领卷减10</span></p>
					<p><img src="{{item.gradeChecker}}"/><span>{{item.description}}</span></p>
				</li>
			</ul>
		<!--2.22-->
			<p ng-click=packUp3() class="today2">2.22上新**</p>
			<ul class="todayugoods" ng-show = 'isqiantianShow'>			
				<li ng-repeat="item in zuotianGoods" >
					<a ui-sref=".lastGoods" href="" ng-click=showLastGoods(item)><img src="{{item.itemImage}}"/>
					<p>{{item.title}}</p>
					<p><span>¥：{{item.discountPrice}}</span><span>领卷减10</span></p>
					<p><img src="{{item.gradeChecker}}"/><span>{{item.description}}</span></p>
				</li>
			</ul>
		</div>
		<div id="UZmain">
			<ul id="UZnav">
				<li><a href="javascript:void(0)" ng-click=TopGoods("all1.json")>全部</a></li>
				<li><a href="javascript:void(0)" ng-click=TopGoods("girlCloth.json")>女装</a></li>
				<li><a href="javascript:void(0)" ng-click=TopGoods("boyFriend1.json")>男友</a></li>
				<li><a href="javascript:void(0)" ng-click=TopGoods("shoeAndBag.json")>鞋子</a></li>
			</ul>
			<ul id="UZTop">
				<p><span>TOP榜单</span><span>·精选最优质</span></p>
				<li ng-repeat="item in topAllGoods">
					<a ui-sref=".lastGoods" href="" ng-click=showLastGoods(item)><img src="{{item.image}}"/></a>
					<p>{{item.title}}</p>
					<p><span>¥：{{item.discountPrice}}</span><span>¥：{{item.price}}</span></p>
					<p><span></span><span></span></p>
				</li>
			</ul>
			
		</div>
		<div ng-class="{true: 'active2', false: 'inactive2'}[isActive2]" id="tolastGoods" ui-view>
		</div>

</div>
	